* {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    background-color: #dbdbdb;
}


/* general */
/* *************************************** */
.ipod-general{
    margin:0 auto;
    margin-top: 2rem!important;
    width: 28%;
    height: 280px;
    border-radius: 25px 25px;
    padding:.5rem;
    background-color: rebeccapurple;
}

.ipod-img{
    display: flex;
    width: 100%;
    margin: 0 auto;
    height: 50%;
    border-radius: 16px 16px;
    background-color: red;
}

.ipod-img img{
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    border:2px solid cyan;
}